$darkest-blue: hsl(189, 14%, 28%);
$dark-blue: hsl(189, 28%, 42%);
$mid-gray-blue: hsl(189, 14%, 53%);
$mid-blue: hsl(189, 37%, 71%);
$light-gray-blue: hsl(189, 14%, 78%);
$light-blue: hsl(189, 65%, 85%);
$lightest-blue: hsl(189, 6%, 100%);

$darkest-gold: hsl(37, 28%, 28%);
$dark-gold: hsl(37, 57%, 42%);
$mid-gray-gold: hsl(37, 28%, 53%);
$mid-gold: hsl(37, 74%, 71%);
$light-gray-gold: hsl(37, 28%, 78%);
$light-gold: hsl(37, 32%, 100%);
$lightest-gold: hsl(37, 12%, 100%);

$darkest-red: hsl(4, 28%, 28%);
$dark-red: hsl(4, 57%, 42%);
$mid-gray-red: hsl(4, 28%, 53%);
$mid-red: hsl(4, 74%, 71%);
$light-gray-red: hsl(4, 28%, 78%);
$light-red: hsl(4, 32%, 100%);
$lightest-red: hsl(4, 12%, 100%);

$darkest-fuschia: hsl(344, 28%, 28%);
$dark-fuschia: hsl(344, 57%, 42%);
$mid-gray-fuschia: hsl(344, 28%, 53%);
$mid-fuschia: hsl(344, 74%, 71%);
$light-gray-fuschia: hsl(344, 28%, 78%);
$light-fuschia: hsl(344, 32%, 100%);
$lightest-fuschia: hsl(344, 12%, 100%);

$darkest-orange: hsl(15, 28%, 28%);
$dark-orange: hsl(15, 57%, 42%);
$mid-gray-orange: hsl(15, 28%, 53%);
$mid-orange: hsl(15, 74%, 71%);
$light-gray-orange: hsl(15, 28%, 78%);
$light-orange: hsl(15, 32%, 100%);
$lightest-orange: hsl(15, 12%, 100%);

$darkest-purple: hsl(308, 28%, 28%);
$dark-purple: hsl(308, 57%, 42%);
$mid-gray-purple: hsl(308, 28%, 53%);
$mid-purple: hsl(308, 74%, 71%);
$light-gray-purple: hsl(308, 28%, 78%);
$light-purple: hsl(308, 32%, 100%);
$lightest-purple: hsl(308, 12%, 100%);
